@font-face{
    font-family: GraphikLight;
    src: url("./Fonts/GraphikWeb-Light.woff") format("woff");
}

@font-face{
    font-family: GraphikSemiBold;
    src: url("./Fonts/GraphikWeb-Semibold.woff") format("woff");
}

@font-face{
    font-family: GraphikBlack;
    src: url("./Fonts/GraphikWeb-Black.woff") format("woff");
}

.searchBox{
    text-align:center;
    width:40%
}

#options{
    display:flex;
    justify-content:space-evenly;
}

#title{
    font-size:10rem;
    font-family: GraphikLight;
}

#logo{
    text-align:center;
    margin:10%;
}