.form{
    width:30%;
}


.searchBox{
    text-align:center;
    margin:10%;
}

#searchBox1{
    text-align:center;
    margin:10%;
}

#searchBox2{
    text-align:center;
    margin:10%;
}